@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';
html, body {
	line-height: 1.7;
	margin: 0;
	padding: 0;
}
body {
	color: #999;
	font-size: 13px;
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
	font-family: 'Roboto', sans-serif;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main { 
    display: block;
}
hr {
	border-left: none;
	border-right: none;
    border-top: 1px solid rgba(53,34,69,0.9);;
    color: rgba(53,34,69,0.9);;
	width: 70%;
}
/* =============== DEFAULT HTML - LINK STYLES =============== */
a {
	text-decoration: none;
	outline: none;
	color: #2ec06c;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
}
a:hover {
	color: #666;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:focus {
	outline: none;
}
a img {
	border: none;
}
a[class*="glyphicon-"] {
	text-decoration: none;
}
/* =============== DEFAULT HTML - HEADING STYLES =============== */
h1, h2, h3, h4, h5, h6 {
	margin: 5px 0 10px;
	color: #333;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
h1, h2 {
	font-weight: 300;
}
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 18px;
}
h5, h6 {
	font-size: 1em;
}
/* =============== DEFAULT HTML - LIST STYLES =============== */
ul, ul li,
ol, ol li,
p, form, input {
	margin: 0;
	padding: 0;
}
p {
	margin-bottom: 10px;
}
ul, ul li {
	list-style: none;
}
/* =============== DEFAULT HTML - IMAGES STYLES =============== */
img {
	border: none;
	max-width: 100%;
}
img.image-left {
	float: left;
	margin-right: 5px;
}
img.img-full-width {
	width: 100%;
}
/* =============== PREDEFINED CONTENT ALIGN =============== */
.margin-left {
	margin-left: 1em !important;
	margin-right: 0;
}
.margin-right {
	margin-left: 0;
	margin-right: 1em !important;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - GENERAL LAYOUT =============== */
.container {
	position: relative;
}
[layout="row"] {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
.fsr {
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}
.fg {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}
.fw {
	flex-wrap: wrap;
}
.verticalStretch {
	-ms-flex-align: stretch;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	align-items: stretch;
}
.verticalCenter {
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}
.workshop-btn {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 20px;
	text-align: center;
	border: 2px solid #fff;
	font-size: 12px;
	line-height: 100%;
}
.workshop-btn:hover {
	color: #fff;
}
.bg-white {
	background-color: #fff !important;
}
/* =============== HOVER EFFECT =============== */
.workshop-hoverEffect {
	text-align: center;
}
.workshop-hoverEffect .item {
	background: rgba(63,185,189,0.9);
	display: inline-block;
}
.workshop-hoverEffect .item .overlay {
	display: block;
	position: relative;
	left: 0;
	top: 0;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
}
.workshop-hoverEffect .item .overlay:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;	
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
	background: rgba(53,34,69,0.9); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(top, rgba(53,34,69,0.9), rgba(252, 227, 138, 0.9));
	background: -o-linear-gradient(top, rgba(53,34,69,0.9), rgba(252, 227, 138, 0.9));
	background: linear-gradient(to bottom, rgba(53,34,69,0.9), rgba(252, 227, 138, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.workshop-hoverEffect .item:hover .overlay {
	left: -10px;
	top: -10px;
}
.workshop-hoverEffect .item:hover .overlay:before {
	opacity: 1;	
}
.workshop-hoverEffect .content {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	z-index: 1;
	opacity: 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;	
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
		 -o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}
.workshop-hoverEffect .item:hover .content {
	opacity: 1;
}
/* =============== LAYOUT - HEADER AREA =============== */
#workshop-header {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background: url(../images/Frente-Facultad.jpg) no-repeat center center / cover;
    padding-bottom: 100px;	
}
#workshop-header:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top,rgba(255,0,0,0), rgba(53,34,69,0.9));
	background: -o-linear-gradient(top, rgba(255,0,0,0), rgba(53,34,69,0.9));
	background: linear-gradient(to top, rgba(255,0,0,0), rgba(53,34,69,0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#workshop-headerInner {
	position: relative;
	z-index: 5;
}
/* =============== MAIN SLIDER =============== */
#workshop-slider {
	padding: 40px 0 0;
}
#workshop-slider .carousel-inner {
	height: 386px;
}
#workshop-slider .carousel-inner > .item {
	text-align: center;
	color: #fff;
}
#workshop-slider .carousel-indicators {
	width: 100%;
	left: 0;
	margin: 0;
	position: static;
	margin-top: 80px;
}
#workshop-slider .carousel-indicators li,
#workshop-slider .carousel-indicators li.active {
	float: left;
	width: 25%;
	height: auto;
	margin: 0;	
	text-indent: initial;
	border-radius: 0;
	background: none;
	text-align: left;
	border: none;
}
#workshop-slider .carousel-indicators li .inner {
	border-top: 2px solid #f7eac4;
	position: relative;
	color: #faf3e0;
	text-transform: uppercase;
	margin: 0 12px;
	padding: 10px 0;
}
#workshop-slider .carousel-indicators li:hover .inner,
#workshop-slider .carousel-indicators li.active .inner {
	border-color: #fff;
	color: #fff;
}
#workshop-slider .carousel-indicators li:hover .inner:after,
#workshop-slider .carousel-indicators li.active .inner:after {
	content: "";
	position: absolute;
	left: 0;
	top: -2px;
	width: 60px;
	height: 2px;
	background: rgba(53,34,69,0.9);
}
#workshop-slider .carousel-indicators li .number {
	font-weight: 700;
	font-size: 18px;
	margin-right: 3px;
}
/* =============== LAYOUT - MENU AREA =============== */
#workshop-navbar {
	background: none;
	border: none;
	border-radius: 0;
}
#workshop-navbar .navbar-brand {
	color: #fff;
	font-weight: 700;
	font-size: 20px;
}
#workshop-navbar .navbar-nav > li > a {
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	border-bottom: 3px solid transparent;
	padding: 15px 5px 5px;
	margin: 0 12px;
}
#workshop-navbar .navbar-nav > li > a:hover,
#workshop-navbar .navbar-nav > .active > a, 
#workshop-navbar .navbar-nav > .active > a:hover {
	color: #fce38a;
	border-color: #fce38a;
	background: none;
}
#workshop-navbar .workshop-menuItem {
	float: right;
}
#workshop-navbar .workshop-iconsGroup li a {
	border: none;
	font-size: 18px;
}
#workshop-navbar .navbar-toggle {
	margin-right: 0;
	border: none;
}
#workshop-navbar .navbar-toggle:hover,
#workshop-navbar .navbar-toggle:focus {
	background: none;
}
#workshop-navbar .navbar-toggle .icon-bar {
	background: #fff;
}
/* ----------- FIXED NAVBAR WITH ANIMATE ----------- */
.workshop-fixed-nav #workshop-navbar {
	position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    background: rgba(53,34,69,0.9);
    z-index: 2;
    -webkit-animation-duration: .5s;
    		animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    		animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    		animation-name: fadeInDown;
}
.workshop-fixed-nav #workshop-navbar .navbar-nav > li > a {
	border: none;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
/* =============== LAYOUT - CONTENT AREA =============== */
section {
	padding: 80px 0;
}
#workshop-slider .workshop-sectionHeading {
	font-size: 90px;
	color: #fff;
}
#workshop-slider .workshop-sectionHeading .workshop-subHeading {
	font-size: 55px;
}
#workshop-slider .workshop-sectionHeading:after {
	background:transparent;
}
.workshop-sectionHeading {
	font-weight: 700;
	font-size: 25px;
	line-height: 1;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 30px;
	text-align: center;
	color: #333;
}
.workshop-sectionHeading:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 50px;
	height: 2px;
	background: rgba(53,34,69,0.9);
	transform: translateX(-50%);
}
.workshop-sectionHeading .workshop-subHeading {
	display: block;
	text-transform: none;
	font-weight: 400;
	font-family: 'Kaushan Script', cursive;
	font-size: 20px;
	margin-bottom: 20px;
}
.workshop-sectionDesc {
	text-align: center;
	max-width: 750px;
	margin: 0 auto 40px;
}
/* =============== SECTION EDICIONES ANTERIORES =============== */
#workshop-ea .content {
	font-weight: 700;
	font-size: 14px;
}
#workshop-ea .content .workshop-icon {
	display: block;
	font-size: 30px;
}
/* =============== SECTION CONTADORES =============== */
#workshop-counting {
	padding: 0;
	background: rgba(63,185,189,0.9);
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}
#workshop-counting .item {
	width: -webkit-fill-available;
	padding: 60px 5px;
	border-right: 1px solid rgba(255, 255, 255, 0.35);
}
#workshop-counting .item:first-child {
	border-left: 1px solid rgba(255, 255, 255, 0.35);
}
#workshop-counting .number {
	font-size: 65px;
	font-weight: 700;
	line-height: 100%;
	margin-bottom: 10px;
}
/* =============== SECTION VALORES =============== */
#valores .workshop-icon {
	font-size: 30px;
	margin-right: 20px;
	color: rgba(63,185,189,0.9);
}
#valores .item:not(:nth-last-child(-n+3)) {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 50px;
	padding-bottom: 40px;
}
#valores .valoresTitle {
	font-weight: 500;
	font-size: 14px;
}
/* =============== SECTION APP =============== */
#workshop-appws {
	padding-bottom: 0;
	margin-bottom: 30px;
	background: #e0e0e0 url(../images/appws/fondows2.jpg) no-repeat center center / cover;
}
#workshop-appws .workshop-devices {
	position: relative;
	text-align: center;
}
#workshop-appws .workshop-devices .tablet {
	width: 380px;
}
#workshop-appws .workshop-devices .mobile {
	position: absolute;
	bottom: -60px;
	left: 50%;
	margin-left: 140px;
	width: 170px;
}

/* =============== SECTION CONTACTO ==================*/
#workshop-contacto {
	padding-bottom: 10px;
	background: rgb(255, 204, 102);
}
/* =============== SECTION TESTIMONIOS =============== */
.workshop-testimonial {
	background: #f8f8f8;
	padding: 60px 0;
}
.workshop-testimonial .unslider-arrow {
	font-size: 40px;
	color: #ccc;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
		 -o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}
.workshop-testimonialSlider {
	margin: 0 80px;
}
.workshop-testimonialSlider .workshop-symbol {
	margin: 0 35px 0 5px;
}
.workshop-testimonialSlider .workshop-symbol .workshop-icon {
	padding: 16px;
	border: 2px solid rgba(63,185,189,0.9);
	font-size: 65px;
	color: rgba(63,185,189,0.9);
}
.workshop-testimonialSlider .quote {
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	margin-bottom: 10px;
}
.workshop-testimonialSlider .name {
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
    position: relative;
    padding-left: 50px;
}
.workshop-testimonialSlider .name:after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 40px;
	height: 2px;
	background: rgba(53,34,69,0.9);
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
		 -o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}

/* =============== SECTION PORTFOLIO =============== */
#workshop-portfolio {
	padding-bottom: 0;
}
#workshop-portfolio .workshop-portfolioItems {
	position: relative;
	margin: 0;
	padding: 0;
}
#workshop-portfolio .workshop-portfolioItems li {
	float: left;
	width: 25%;
	background: #fff;
	position: relative;
}
#workshop-portfolio .workshop-portfolioItems li a,
#workshop-portfolio .workshop-portfolioItems li a img {
	display: block;
	position: relative;
}
#workshop-portfolio .workshop-portfolioItems li a {
	overflow: hidden;
	color: #fff;
}
#workshop-portfolio .workshop-portfolioItems li .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(53,34,69,0.9); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(top, rgba(53,34,69,0.9), rgba(252, 227, 138, 0.9));
	background: -o-linear-gradient(top, rgba(53,34,69,0.9), rgba(252, 227, 138, 0.9));
	background: linear-gradient(to bottom, rgba(53,34,69,0.9), rgba(252, 227, 138, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#workshop-portfolio .workshop-portfolioItems li .content {
	position: absolute;
	left: 0 !important;
	top: 50% !important;
	width: 100%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
		 -o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}
#workshop-portfolio .workshop-portfolioItems li .workshop-icon {
	font-size: 30px;
}
#workshop-portfolio .workshop-portfolioItems li .title {
	color: #fff;
	font-size: 14px;
	margin: 5px 0 5px;
}
#workshop-portfolio .workshop-portfolioItems li .desc {
	font-style: italic;
	font-size: 12px;
}
/* =============== SECTION OUR TEAM =============== */
#inscripcion .content .workshop-icon {
	display: inline-block;
	font-size: 25px;
	color: rgba(53,34,69,0.9);
	background: #fce38a;
	padding: 10px;
	margin: 0 -1px;
	line-height: 100%;
}
#inscripcion .content .workshop-icon:hover {
	color: #fff;
	background: rgba(53,34,69,0.9);
}
#inscripcion .info {
	margin-top: 35px;
	text-align: center;
}
#inscripcion .name {
	font-size: 14px;
	margin: 0 0 5px;
}
#inscripcion .regency {
	font-style: italic;
}

/* =============== SECTION ULTIMAS NOTICIAS =============== */
#workshop-ultimasnoticias article .articleThumb {
	position: relative;
	margin-bottom: 20px;
}
#workshop-ultimasnoticias article .date {
	position: absolute;
	background: rgba(63,185,189,0.9);
	left: -10px;
	bottom: 10px;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
}
#workshop-ultimasnoticias article .date .number {
	display: block;
	font-size: 28px;
	line-height: 100%;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
#workshop-ultimasnoticias article .date .text {
	display: block;
	font-weight: 300;
	font-style: italic;
}
#workshop-ultimasnoticias article .articleTitle {
	font-size: 14px;
}
#workshop-ultimasnoticias article .articleMeta {
	border-top: 1px solid #e5e5e5;
	margin-top: 15px;
	padding-top: 15px;
}
#workshop-ultimasnoticias article .articleMeta a {
	color: #999;
	display: inline-block;
	margin-right: 15px;
	font-style: italic;
	font-weight: 300;
}
#workshop-ultimasnoticias article .articleMeta a:hover {
	color: #000;
}
#workshop-ultimasnoticias article .articleMeta .workshop-icon {
	color: rgba(63,185,189,0.9);
	font-size: 17px;
	position: relative;
	top: 2px;
}
/* =============== SECTION MAP =============== */
#workshop-map {
	padding: 40px 0;
	background: url(../images/map/bg-map.jpg) no-repeat center center / cover;
}
#workshop-map .workshop-sectionHeading {
	color: #f28989;
	margin: 0;
	cursor: pointer;
}
#workshop-map .workshop-sectionHeading .workshop-icon {
	display: block;
	margin-bottom: 10px;
	font-size: 40px;
}
#workshop-map .mapWrap {
	visibility: hidden;
	opacity: 0;
	height: 0 !important;
	margin-top: 20px;
}
#workshop-map .mapWrap iframe {
	width: 100%;
	height: 300px;
}
#workshop-map.showMap .mapWrap {
	visibility: visible;
	opacity: 1;
	height: auto !important;
	border: 2px solid #ff9c00;
}
#workshop-map .workshop-locationInfo {
	width: 250px;
}
/* =============== LAYOUT - FOOTER AREA =============== */
footer {
	background: #f8f8f8;
}
/* ----------- COPYRIGHT ----------- */
footer .workshop-copyright {
	text-align: center;
	border-top: 1px solid #e5e5e5;
	padding: 20px 0;
}
/* =============== GO TO TOP =============== */
#workshop-scrollToTop {
	width: 50px; 
	height: 50px;
	text-align: center;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-indent: -99999em;
	display: none;
	cursor: pointer;
	z-index: 2;
	background: rgba(53,34,69,0.9) url(../images/go-to-top.png) center center no-repeat;
}
#workshop-scrollToTop:hover {
	text-decoration: none;
	background-color: #ffc75a;
}
/* =============== PRETTY PHOTO OVERRIDE =============== */
div.pp_pic_holder a {
	-webkit-transition: all 0s ease 0s;
	   -moz-transition: all 0s ease 0s;
		 -o-transition: all 0s ease 0s;
		-ms-transition: all 0s ease 0s;
			transition: all 0s ease 0s;
}
div.pp_default .pp_description {
	margin: 12px 50px 0 0;
}
div.pp_default .pp_social {
	width: 100%;
}
/* ============================================================ RESPONSIVE ============================================================ */
@media (max-width: 1200px) {

	/* =============== FOOTER =============== */
	footer .workshop-followUs {
		margin: 15px 0;
	}
	footer .instagramImages a {
		width: 70px;
	}

}
@media (max-width: 992px) {
	section {
		padding: 45px 0;
	}	
	/* =============== SECTION TESTIMONIOS =============== */
	.workshop-testimonial {
		padding: 30px 0;
	}
	.workshop-testimonialSlider .quote {
		font-size: 13px;
	}
	.workshop-testimonialSlider .workshop-avatar {
		width: 130px;
	}
	/* =============== SECTION COUNTING =============== */
	#workshop-counting {
		font-size: 10px;
	}
	#workshop-counting .item {
		padding: 35px 5px;
	}
	#workshop-counting .number {
		font-size: 50px;
	}
	/* =============== SECTION VALORES =============== */
	#valores .item:not(:nth-last-child(-n+2)) {
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 30px;
    	padding-bottom: 20px;
	}
	/* =============== SECTION UNIQUE DESIGN =============== */
	#workshop-appws .workshop-devices .tablet {
		width: 250px;
	}
	#workshop-appws .workshop-devices .mobile {
		bottom: -38px;
		margin-left: 88px;
		width: 110px;
	}
	/* =============== SECTION OUR TEAM =============== */
	#inscripcion .content .workshop-icon {
		font-size: 18px;
		padding: 8px;
	}
	#inscripcion .info {
		margin-top: 25px;
	}
	/* =============== SECTION ULTIMAS NOTICIAS =============== */
	#workshop-ultimasnoticias article .articleTitle {
		font-size: 11px;
	}
	#workshop-ultimasnoticias article .date {
		padding: 8px 12px;
	}
	#workshop-ultimasnoticias article .date .number {
		font-size: 18px;
	}
	#workshop-ultimasnoticias article .date .text {
		font-size: 11px;
	}

}

@media (max-width: 768px) {
	
	/* =============== HOVER EFFECT =============== */
	.workshop-hoverEffect .item {
		margin-bottom: 15px;
	}
	/* =============== MAIN SLIDER =============== */
	#workshop-slider {
		padding-top: 10px;
	}
	#workshop-slider .carousel-inner {
		height: 270px;
	}
	#workshop-slider .carousel-indicators {
		margin-top: 30px;
	}
	#workshop-slider .workshop-sectionHeading {
		font-size: 60px;
	}
	#workshop-slider .workshop-sectionHeading .workshop-subHeading {
	    font-size: 35px;
	}
	/* =============== SECTION APP =============== */
	#workshop-appws .workshop-devices .mobile {
		margin-left: 65px;
	}
	/* =============== SECTION OUR TEAM =============== */
	#inscripcion .info {
		margin: 0 0 20px;
	}
	/* =============== SECTION OUR WORK =============== */
	#workshop-portfolio .workshop-portfolioItems li {
		width: 50%;
	}
	/* =============== SECTION ULTIMAS NOTICIAS =============== */
	#workshop-ultimasnoticias {
		text-align: center;
	}
	#workshop-ultimasnoticias article {
		display: inline-block;
		max-width: 380px;
		margin-bottom: 30px;
		text-align: left;
	}
}

@media (max-width: 767px) {
	
	/* =============== MENU AREA =============== */
	#workshop-navbar {
		background: #362245;
	}
	#workshop-navbar .navbar-header {
		padding-right: 80px;
	}
	#workshop-navbar .navbar-nav > li > a {
		padding: 10px 5px 5px;
	}
	#workshop-navbar .navbar-nav > li > a:hover, 
	#workshop-navbar .navbar-nav > .active > a, 
	#workshop-navbar .navbar-nav > .active > a:hover {
		border-color: transparent;
	}
	#workshop-navbar .workshop-menuItem,
	#workshop-navbar .navbar-collapse {
		width: 100%;
	}
	#workshop-navbar .navbar-collapse {
		background: rgba(56,56,56,0.95);
		border-color: #464646;
		position: absolute;
		z-index: 1;
		left: 0px;
	}
	#workshop-navbar .workshop-iconsGroup {
		position: absolute;
		right: 15px;
		top: 0;
		margin: 0;
	}
	#workshop-navbar .workshop-iconsGroup > li {
		display: inline-block;
	}
	#workshop-navbar .workshop-iconsGroup li a {
		margin: 0 0 0 15px;
		padding: 15px 0 5px;
	}
	/* =============== SECTION VALORES =============== */
	#valores .item:not(:nth-last-child(-n+1)) {
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}
}

@media (max-width: 640px) {
	section {
		padding: 30px 0;
	}
	.workshop-sectionHeading {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.workshop-sectionHeading .workshop-subHeading {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.workshop-sectionDesc {
		margin-bottom: 20px;
	}
	/* =============== MAIN SLIDER =============== */
	#workshop-slider .workshop-sectionHeading {
		font-size: 45px;
	}
	#workshop-slider .workshop-sectionHeading .workshop-subHeading {
		font-size: 22px;
	}
	#workshop-slider .carousel-inner {
		height: 205px;
	}
	#workshop-slider .carousel-indicators li .number {
		display: none;
	}
	/* =============== SECTION COUNTING =============== */
	#workshop-counting .item {
		padding: 20px 5px;
	}
	#workshop-counting .number {
		font-size: 28px;
	}
	#workshop-counting .text {
		font-size: 9px;
	}
	/* =============== SECTION APP =============== */
	#workshop-appws .workshop-devices .mobile {
		margin-left: 65px;
	}
	/* =============== SECTION TESTIMONIAL =============== */
	.workshop-testimonialSlider {
		margin: 0 40px;
	}
	.workshop-testimonialSlider .workshop-symbol {
		font-size: 45px;
		margin: 0 15px 0 5px;
	}
	.workshop-testimonialSlider .quote {
		font-size: 11px;
	}
	.workshop-testimonialSlider .name {
		font-size: 13px;
	}
	.workshop-testimonialSlider .workshop-avatar {
		width: 100px;
		margin-right: 15px;
	}
	/* =============== SECTION APP =============== */
	#workshop-appws .workshop-devices .mobile {
		margin-left: 50px;
		width: 90px;
	}
	/* =============== FOOTER =============== */
	footer {
		padding-top: 30px;
	}

}

@media (max-width: 480px) {
	
	/* =============== MAIN SLIDER =============== */
	#workshop-slider .carousel-indicators li .inner {
		text-indent: -99999em;
		line-height: 0;
		border-width: 3px;
	}
	#workshop-slider .carousel-indicators .inner:after {
		display: none;
	}
	#workshop-slider .carousel-indicators li.active .inner {
		border-color: rgba(53,34,69,0.9);
	}
	/* =============== SECTION TESTIMONIAL =============== */
	.workshop-testimonialSlider .workshop-symbol,
	.workshop-testimonialSlider .workshop-avatar {
		display: none;
	}
	/* =============== SECTION OUR WORK =============== */
	#workshop-portfolio .workshop-portfolioItems li {
		width: 100%;
	}
}

/*==============BOTONES=============*/
.btn-round-lg{
	border-radius: 22.5px;
	width: 150px;
	border: none;
	background: rgba(53,34,69,0.9);
	text-transform: uppercase;
}

.btn-round{
	border-radius: 17px;
}

.btn:hover{
	background-color: rgba(53,34,69,0.9);
}

.btn:active{
	background-color: rgba(53,34,69,0.9);
}